.password-page{
width: 661px;
 height: 549px;
background-color: white;
padding-left: 148px;
position: relative;
}

.reset-password-positon{
  position: absolute;
  top:90px;
  left: 148px;
}
.password-page-tab{
  width: 100%;
  height: 549px;
  background-color: white;
  padding-left: 10%;
}
.password-page h3 {
    color: #00a264;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;
    display: inline-flex;
    padding: 10px;
    justify-content: center;
    gap: 10px;
  }

.login_inputfield2 {
    width: 375px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  
  }
  .login_inputfield2 input {
    max-width: 375px;
    height: 45px;
    border-radius: 5px;
    border: 1px solid #dddfe2;
    background: #fff;
    padding: 0px 24px 0px 10px;
    margin: 10px 0px;
  }

 
  input ::placeholder {
    color: #9c9999;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

/* css of resetpasswordpage */

  .reset_inputfield {
    width: 375px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .reset_inputfield input {
    width: 375px;
    height: 45px;
    border-radius: 5px;
    border: 1px solid #dddfe2;
    background: #fff;
    padding: 0px 24px 0px 10px;
    margin: 5px 0px;
  }
  .reset-password-margin{
    margin-top: 100px;
  }

  @media (max-width: 769px){
    .password-page{
      width: 500px;
      padding-left: 48px;
    }
    .reset_inputfield   {
      margin-top: -200px;
    }
    /* .login_inputfield{
      width: 316px;
    } */
  }
  @media (max-width: 550px){
    .login_inputfield2{
      width: 316px;
    }
    .reset_inputfield input  {
      width: 316px;
      display: flex;
      flex-direction: column;
      justify-content: center;
 
    
    }
    .reset_inputfield {
      width: 316px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-top: -150px;
   
    }


    .greenbtn{
      width: 316px;
    }
    .password-page{
      width: 370px;
      height: 380px;
      background-color: white;
      padding-left: 25px;
      position: relative;
      }
      .reset-password-margin{
        margin-top: 50px;
      }
  }
