.formcss{
    display: flex;
    gap: "30px";
}
button {
  border: none;
  background: none;
  cursor: pointer;
}

.edit-product{
  color: black;
}
.new {
  position: absolute;
  right: 0px;
  top: 0cm;
  z-index: 1;
}
.sale {
  position: absolute;
  right: 0px;
  top: 0.7cm;
  z-index: 1;
}
.rating {
  position: absolute;
  bottom: 1.8cm;
  z-index: 1;
}
.cartimage {
  position: relative;
  width: 200px;
  object-fit: contain;
  cursor: pointer;
}



/* create product */
.create-product input{
  padding: 10px;
  
}